* {
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
    color: darkgray;
    text-align: center;
    border: none; 
}

.header-container {
    padding-bottom: 30px;
    display: inline;
}

.title {
    font-size: 50px;
    font-weight: bold;
}

