select {
    font-size: large;
    font-family:'Courier New', Courier, monospace; 
    font-weight: bold;
}

h4 {
    font-size: large;
}

li {
    padding: .5em;
}

a {
    text-decoration: none;
}

ol {
    text-align: center;
    list-style-position: inside;
}

span {
    color: black;
}


