.select {
    font-size: small;
    color:cornflowerblue;
    font-family:'Courier New', Courier, monospace; 
    font-weight: bold;
}

.list {
    font-size: small;
    color:cornflowerblue;
    font-family:'Courier New', Courier, monospace; 
    font-weight: bold;
}